<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alquileres</title>
    <!-- Agrega aquí tus estilos y scripts comunes -->
</head>

<body>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>