@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Gestión de Cuotas";
}

<div class="d-flex mb-4">
    <a id="createCuota" class="btn btn-primary shadow-sm me-3">
        <i class="fa fa-plus"></i> Crear Cuotas
    </a>
    <a id="deleteCuota" class="btn btn-danger shadow-sm me-3">
        <i class="fa fa-minus"></i> Eliminar Cuotas
    </a>
</div>

<div id="dataTableContainer" style="display: none;">
    <!-- Contenedor dinámico para tabla/formulario -->
</div>

@section Scripts {
    <script src="~/js/cuotas.js" asp-append-version="true"></script>
}
