@{
    ViewData["Title"] = "Home";
    bool alertCuotasVencidas = ViewData["AlertaCuotasVencidas"] != null && (bool)ViewData["AlertaCuotasVencidas"];
    int cantidadCuotasVencidas = ViewData["CantidadCuotasVencidas"] != null ? (int)ViewData["CantidadCuotasVencidas"] : 0;
}

<div id="dashboard-container">
    <!-- El contenido se cargará aquí dinámicamente -->
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

@section Scripts {
    @if (alertCuotasVencidas)
    {
        <script>
            Swal.fire({
                title: 'Atención!',
                html: `Existen <b>@cantidadCuotasVencidas</b> cuotas vencidas que requieren revisión. <a href="/Pagos/Pendientes" class="swal-link">Ver pendientes</a>`,
                icon: 'warning',
                confirmButtonText: 'Entendido',
                confirmButtonColor: '#4361ee',
                showCloseButton: true
            });
        </script>
    }

    <script src="~/js/home.js" asp-append-version="true"></script>
}