@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Gestión de Cuentas por cobrar";
}

<div class="d-flex">
    <a id="createCuentaPorCobrar" class="btn btn-primary shadow-sm">
        <i class="fa fa-plus"></i> Crear CxC
    </a>
</div>

<!-- Contenedor para toasts -->
<div id="toastContainer" class="toast-container position-fixed top-0 end-0 p-3"></div>

<!-- Spinner de carga -->
<div id="loadingSpinner" class="spinner-border text-primary position-fixed top-50 start-50" style="display: none;">
</div>

<div id="dataTableContainer" style="display: none;">
    <!-- Contenedor dinámico para tabla/formulario -->
</div>

@section Scripts {
    <script src="~/js/cuentaPorCobrar.js" asp-append-version="true"></script>
}
