@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <div class="alert alert-info">
            <p>
                Actualmente esta aplicación no tiene un servicio de correo electrónico configurado.
                <a href="https://aka.ms/aspaccountconf" target="_blank">Consulta esta guía</a> para configurar un servicio real
                de envío de correos.
            </p>
            <p class="mt-2">
                En un entorno de producción, esto se enviaría por correo:
                <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="fw-bold">Haz clic aquí para confirmar tu
                    cuenta</a>
            </p>
        </div>
    }
    else
    {
        <div class="alert alert-success">
            <p>Por favor revisa tu correo electrónico para confirmar tu cuenta.</p>
        </div>
    }
}