@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Gestión de Cobros";
}
@section Styles {
    <link rel="stylesheet" href="~/css/detalles-cobro.css" asp-append-version="true" />
}

<div class="d-flex">
    <a id="createCobro" class="btn btn-primary shadow-sm">
        <i class="fa fa-plus"></i> Crear Cobro
    </a>
</div>
<!-- Contenedor para toasts -->
<div id="toastContainer" class="toast-container position-fixed top-0 end-0 p-3"></div>

<!-- Spinner de carga -->
<div id="loadingSpinner" class="spinner-border text-primary position-fixed top-50 start-50" style="display: none;">
</div>

<div id="dataTableContainer" style="display: none;">
    <!-- Contenido dinámico: tabla o formulario -->
</div>

<!-- Modal para el ticket -->
<div class="modal fade" id="ticketModal" tabindex="-1" aria-labelledby="ticketModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="ticketModalLabel">Ticket de Cobro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div id="ticketContent" class="ticket-80mm">
                    <div class="header">
                        <div class="title"></div>
                        <div class="item-title">
                            <span class="label me-2">DIR:</span>
                            <span class="direccion"></span>
                        </div>
                        <div class="item-title">
                            <span class="ubicacion"></span>
                        </div>
                        <div class="item-title">
                            <span class="label me-2">TEL:</span>
                            <span class="telefono"></span>
                        </div>
                        <div class="fecha-hora"></div>
                    </div>
                    <div class="divider"></div>
                    <div class="item-content-large">
                        <span class="label me-2">CLIENTE:</span>
                        <span class="cliente"></span>
                    </div>
                    <div class="item-content">
                        <span class="label">NO. COBRO:</span>
                        <span class="noCobro"></span>
                    </div>
                    <div class="item-content-large">
                        <span class="label me-2">CONCEPTO:</span>
                        <span class="concepto"></span>
                    </div>
                    <div class="divider"></div>
                    <div class="item-content">
                        <span class="label">SUBTOTAL:</span>
                        <span class="subtotal"></span>
                    </div>
                    <div class="item-content">
                        <span class="label">CARGOS:</span>
                        <span class="cargos"></span>
                    </div>
                    <div class="item-content">
                        <span class="label">MORA COBRADA:</span>
                        <span class="mora"></span>
                    </div>
                    <div class="item-content">
                        <span class="label">DESCUENTO:</span>
                        <span class="descuento"></span>
                    </div>
                    <div class="item-content">
                        <span class="label">TOTAL:</span>
                        <span class="total"></span>
                    </div>
                    <div class="divider"></div>
                    <div class="item-content">
                        <span class="label">EFECTIVO RECIBIDO:</span>
                        <span class="efectivo-recibido"></span>
                    </div>
                    <div class="item-content">
                        <span class="label">CAMBIO:</span>
                        <span class="cambio"></span>
                    </div>
                    <div class="divider"></div>
                    <div class="item-content-resto">
                        <span class="resto"></span>
                    </div>
                    <div class="item-content-image mt-5">
                        <span class="qr"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="imprimirTicket">Imprimir</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/cobros.js" asp-append-version="true"></script>
}