@media print {
    body * {
        visibility: hidden;
    }

    #reporteCxCTable,
    #reporteCxCTable * {
        visibility: visible;
    }
    

    #reporteCxCTable {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}