.is-valid[b-dsgibelhxn] {
    border-color: #28a745;
}

.is-invalid[b-dsgibelhxn] {
    border-color: #dc3545;
}

.text-success[b-dsgibelhxn] {
    color: #28a745;
}

.text-danger[b-dsgibelhxn] {
    color: #dc3545;
}

.d-none[b-dsgibelhxn] {
    display: none;
}